{% extends "base.html" %}

{% block title %}
    404 | AFT Connect
{% endblock %}

{% block content %}
    <div class="content" style="margin-top: 400px; margin-bottom: 400px">
        <h1 style="text-align: center">Такой странички не существует</h1>
        {% if current_user.is_authenticated %}
            <p style="text-align: center">
                Вернитесь на предыдущую страницу, либо <a href="{{ url_for("profile") }}">
                перейдите на страничку вашего профиля
            </a>
            </p>
        {% else %}
            <p style="text-align: center">
                Вернитесь на предыдущую страницу, либо <a href="{{ url_for("login") }}">
                авторизуйтесь
            </a>
            </p>
        {% endif %}
    </div>
{% endblock %}