{% extends "base.html" %}

{% block title %}
    Профиль | AFT Connect
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 25px">
        <h1 style="text-align: center">Профиль</h1>
    </div>
    <div class="container" style="margin-top: 25px">
        <h2 style="text-align: left">
            {% if current_user.patronymic %}
                {% if status.color %}
                    {{ current_user.name }} {{ current_user.patronymic }} {{ current_user.surname }}
                    <span class="badge bg-{{ status.color }}">{{ status.title }}</span>
                {% else %}
                    {{ current_user.name }} {{ current_user.patronymic }} {{ current_user.surname }}
                {% endif %}
            {% else %}
                {% if status.color %}
                    {{ current_user.name }} {{ current_user.surname }}
                    <span class="badge bg-{{ status.color }}">{{ status.title }}</span>
                {% else %}
                    {{ current_user.name }} {{ current_user.surname }}
                {% endif %}
            {% endif %}
        </h2>
        <p class="fs-3">{{ current_user.login }}</p>
        <p>{{ age }}</p>
        <p><a href="{{ url_for("edit_profile") }}">Изменить персональную информацию</a></p>
    </div>
    <div class="container" style="margin-top: 50px; margin-bottom: 50px">
        <form action="" method="post">
            <legend style="text-align: left">Одноразовые пароли</legend>
            <div class="form-text">
                Одноразовые пароли — ещё один способ входа в AFT Connect. После использования такого
                пароля, он автоматически удаляется. Вы можете сгенерировать новый одноразовый пароль
                тут.
            </div>
            <div class="mb-3">
                {% if current_user.one_time_password %}
                    <label class="form-label">Ваш одноразовый пароль</label>
                    <div class="input-group">
                        <input class="form-control" type="text"
                               value="{{ current_user.one_time_password }}"
                               aria-label="Одноразовый пароль" disabled readonly>
                        <span class="input-group-btn">
                            <a href="{{ url_for("generate_one_time_password") }}"
                               class="btn btn-success">
                                Сгенерировать новый одноразовый пароль
                            </a>
                        </span>
                    </div>

                {% else %}
                    <div style="margin-top: 10px">
                        <a href="{{ url_for("generate_one_time_password") }}"
                           class="btn btn-success">
                            Сгенерировать новый одноразовый пароль
                        </a>
                    </div>
                {% endif %}
            </div>
        </form>
    </div>
    <div class="container" style="margin-top: 25px">
        <p>
            {% if status.access_admin_panel %}
                <a href="{{ url_for("admin_panel") }}" class="btn btn-primary">Панель
                    администратора</a>
            {% endif %}
            <a href="{{ url_for("change_email") }}" class="btn btn-success">Изменить почту</a>
            <a href="{{ url_for("change_password") }}" class="btn btn-warning">Изменить пароль</a>
            <a href="{{ url_for("logout") }}" class="btn btn-danger">Выйти</a>
        </p>
    </div>
    <div class="container" style="margin-top: 500px">
        <p>
            Вы также можете <a href="{{ url_for("deactivate_account") }}">деактивировать аккаунт</a>
        </p>
    </div>

{% endblock %}